# PostHog Analytics
# You can get these values from eu.posthog.com
PUBLIC_POSTHOG_TOKEN=phc_...
PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
PUBLIC_ANALYTICS_ENABLED=true

# Legacy Analytics (e.g. Plausible)
# PUBLIC_ANALYTICS_SCRIPT_URL=
# PUBLIC_ANALYTICS_DOMAIN=
# PUBLIC_ANALYTICS_API_HOST=
